@media (min-width: 810px) {
    .header-border {
        position: absolute;
        height: 82px;
        width: 100%;
    }

    .header-border::after {
        content: "";
        display: block;
        border-bottom: 1px solid rgb(9, 9, 11);
        clip-path: inset(-1px 0px 0px 0px);
        opacity: 0.5;
      }

    .header-container {
        height: 82px;
    }

    .container-all {
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
    }

    .header-content {
        padding: 24px;
    }

    .menu-and-button {
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .button {
        display: flex;
        flex: none;
        width: auto;
        height: auto;
        position: relative;
    }

    .content-button {
        position: relative;
        display: flex;
        align-items: center;
        direction: rtl;
        padding: 8px 14px;
        background-color: rgb(9, 9, 11);
        border-radius: 6px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 1px inset, rgba(9, 9, 11, 0.15) 0px 1px 2px 0px;
        opacity: 1;
    }

    .svg-icon-button {
        width: 16px;
        height: 16px;
    }

    .text-button {
        font-family: "Instrument Sans", sans-serif;
        font-size: 15px;
        color: rgb(250, 250, 250);
        line-height: 18px;
        font-weight: 500;
        padding: 0px 6px;
    }

}